<?xml version="1.0"?>
<launch>

  <!-- load configuration -->
  <rosparam command="load" file="$(find ur10_acg_configuration)/config/direct_force_controller_ur10_sim.yaml" />
  <rosparam command="load" file="$(find ur10_acg_configuration)/config/ur10_interaction_control_sim_parameters.yaml" />

  <param name="force_torque_sensor_type" value="ForceTorqueSensorGazebo" />

  <node name="direct_force_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="direct_force_controller" respawn="false"/>

</launch>
